@use './variables' as *;

$color: #000;

@function contrastText($color) {
  $result: invert($color);
  $lightness: lightness($result);
  @if ($lightness < 50) {
    $result: black;
  }
  @return $result;
}

.button__container {
  width: 100%;
  padding: 1rem;

  button {
    width: 100%;
    display: inline-block;
    border: 0;
    border-radius: $border-radius-lg;
    outline: 0;
    padding: 1rem;
    color: contrastText($color);
    cursor: pointer;
  }
}
