@use './colors' as *;

.filter {
  position: absolute;
  right: 6%;
  width: 320px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: $primary-light;
  color: #fff;
  font-size: 2rem;
  z-index: 10;

  .filter__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: normal normal bold 1.77rem/21px Roboto;
  }

  .filter__header_closer {
    cursor: pointer;

    & * {
      user-select: none;
      pointer-events: none;
    }
  }

  .filter__menu {
    max-width: 287px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .filter__menu_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    background-color: $primary-dark;
    border-radius: 10px;
    padding: 2rem;
    font-weight: bold;
    transition: all 1s ease;

    &.open {
      .filter__menu_item_content,
      .filter__menu_item_content_compare {
        display: flex;
      }
    }
  }

  .filter__menu_item_header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font: normal normal bold 1.5rem/16px Roboto;

    svg {
      width: 2rem;
    }
  }

  .filter__menu_switch {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;

    div:last-child {
      position: absolute;
      right: 0;
      transform: translateY(-12%);

      @media (max-width: 1235px) {
        transform: translateY(-5%);
      }
    }
  }

  .filter__menu_item_content {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font: normal normal normal 1.5rem/16px Roboto;

    input {
      width: 100%;
      padding: 1rem 1.5rem;
      border: none;
      border-radius: 10px;
      background-color: $primary;
      font: normal normal normal 1.5rem/16px Roboto;
      color: #fff;
    }
  }

  .filter__menu_item_content_minmax {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font: normal normal normal 1.5rem/16px Roboto;
  }

  .filter__menu_item_content_average {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    font: normal normal normal 1.5rem/16px Roboto;

    input {
      width: 20%;
    }
  }

  .filter__menu_item_content_compare {
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;

    .filter__menu_item_content_minmax {
      width: 60%;
      justify-content: flex-start;

      input {
        width: 6rem;
        padding: 1rem 1.5rem;
        border: none;
        border-radius: 10px;
        background-color: $primary;
        font-size: 1.8rem;
        color: #fff;
      }
    }
  }

  .filter__menu_switch {
    position: relative;
    width: 50%;
    min-width: 12rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
    padding-right: 15%;

    @media (max-width: 1235px) {
      width: 45%;
      padding-right: 0;
    }

    @media (max-width: 1050px) {
      width: 40%;
      padding-right: 0;
    }
  }

  #second {
    min-width: 10rem;
    padding-right: 40%;
    font: normal normal normal 1.8rem/16px Roboto;

    @media (max-width: 1400px) {
      min-width: 10rem;
      padding-right: 60%;
    }

    @media (max-width: 1235px) {
      min-width: 12rem;
      padding-right: 30%;
    }
  }

  .filter__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;

    button {
      width: 100%;
      min-height: 5rem;
      border: none;
      border-radius: 50px;
      padding: 1rem;
      font-size: 1.8rem;
      font-weight: bold;
      background-color: $primary-lighter;
      color: #fff;
    }

    button:first-child {
      border: 1px solid #fff;
      background-color: transparent;
    }
  }
}

#filter {
  width: fit-content;
  cursor: pointer;

  & * {
    user-select: none;
    pointer-events: none;
  }
}
