@use './colors' as *;

.filter {
  position: absolute;
  right: 6%;
  width: 320px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: $primary-light;
  color: #fff;
  font-size: 2rem;
  z-index: 10;

  .filter__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: normal normal 600 1.8rem/21px Roboto;
    letter-spacing: 1px;
  }

  .filter__header_closer {
    cursor: pointer;

    & * {
      user-select: none;
      pointer-events: none;
    }
  }

  .filter__menu {
    max-width: 297px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .filter__menu_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    background-color: $primary-dark;
    color: #d1d1d1;
    border-radius: 10px;
    padding: 2rem 1rem;
    font-weight: bold;
    transition: all 1s ease;
    cursor: pointer;

    &.open {
      .filter__menu_item_content,
      .filter__menu_item_content_compare {
        display: flex;
        cursor: default;
      }
    }
  }

  .filter__menu_item_header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font: normal normal bold 1.5rem/16px Roboto;
    color: #fff;

    svg {
      width: 2rem;
    }
  }

  .filter__menu_switch {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: auto;
  }

  .filter__menu_item_content {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font: normal normal normal 1.5rem/16px Roboto;

    input {
      width: 120px;
      height: 30px;
      padding: 0.9rem 1.5rem;
      border: none;
      border-radius: 10px;
      background-color: $primary;
      font: normal normal normal 1.5rem/16px Roboto;
      color: #fff;

      &::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #d1d1d1;
      }
      &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #d1d1d1;
        opacity: 1;
      }
      &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #d1d1d1;
        opacity: 1;
      }
      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #d1d1d1;
      }
      &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #d1d1d1;
      }

      &::placeholder {
        /* Most modern browsers support this now. */
        color: #d1d1d1;
      }
    }
  }

  .filter__menu_item_content_minmax {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font: normal normal normal 1.5rem/16px Roboto;
  }

  .filter__menu_item_content_average {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    font: normal normal normal 1.5rem/16px Roboto;

    input {
      width: 20%;
    }
  }

  .filter__menu_item_content_compare {
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;

    .filter__menu_item_content_minmax {
      width: 60%;
      justify-content: flex-start;

      input {
        width: 6rem;
        padding: 1rem 1.5rem;
        border: none;
        border-radius: 10px;
        background-color: $primary;
        font-size: 1.8rem;
        color: #fff;
      }

      ul {
        width: 70px;
        padding: 0 1.2rem;

        li {
          text-align: left;
          padding-left: 0;
        }

        .dropdown__placeholder__icon {
          height: 30px;
          transform: translateX(1rem);
        }
      }

      .dropdown__container .dropdown__placeholder__icon svg {
        margin-left: 1rem;
      }
    }
  }

  .filter__menu_switch {
    position: relative;
    width: 50%;
    min-width: 12rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    gap: 1rem;
  }

  #second {
    min-width: 10rem;
    font: normal normal normal 1.8rem/16px Roboto;
  }

  .filter__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    button {
      width: 100%;
      min-height: 3.5rem;
      border: none;
      border-radius: 50px;
      padding: 0.5rem 1rem;
      font: normal normal 500 1.5rem/16px Roboto;
      background-color: $primary-lighter;
      color: #fff;
    }

    button:first-child {
      border: 1px solid #fff;
      background-color: transparent;
    }
  }

  // Drops only
  .filter__menu_item_radio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font: normal normal normal 14px/16px Roboto;
    color: #d1d1d1;

    li {
      width: 264px;
      height: 30px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
      border-radius: 10px;
      padding: 0 9px;
      background: #0b1e39 0% 0% no-repeat padding-box;
    }

    span {
      vertical-align: bottom;
      line-height: 21px;
    }

    .custom__radio__btn {
      position: relative;
      width: 16px;
      height: 16px;
      background: #d1d1d1 0% 0% no-repeat padding-box;
      border: 1px solid #000f24;
      border-radius: 5px;
      cursor: pointer;
      overflow: hidden;

      // &[data-selected='true'] {
      //   display: none;
      // }

      &[data-selected='true']:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #1956e2;
        background-image: url(../assets/images/check.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 75%;
      }
    }
  }
}

#filter {
  width: fit-content;
  cursor: pointer;

  & * {
    user-select: none;
    pointer-events: none;
  }
}
