@use './colors' as *;

.headermenu__container {
  position: relative;
  display: none;
  z-index: 10;

  .dropdown {
    width: 15rem;
    height: 4.5rem;
    background-color: #244677;
  }

  .dropdown__items {
    padding: 1rem;

    li {
      padding: 1rem 0.5rem;
      // margin: 1rem 0;
    }
  }

  .dropdown__placeholder__icon {
    font-size: 2rem;
    padding-left: 1rem;

    svg {
      stroke: $primary-dark;
      height: 1.5rem;
    }
  }

  .dropdown__items {
    font-size: 2rem;
  }

  @media (max-width: 1000px) {
    display: flex;
  }
}
