@use './colors' as *;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body,
html {
  box-sizing: border-box;
  height: 100vh;
  background-color: $primary-dark;
  font-family: 'Roboto', sans-serif;

  @media (max-width: 1400px) {
    font-size: 11px;
  }

  @media (max-width: 1050px) {
    font-size: 10px;
  }
}

#root {
  height: 100%;
}

li {
  list-style: none;
}
