@use './colors.scss' as *;
@use './variables' as *;

.input__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem;

  .input__title-contianer {
    max-width: 13rem;
    overflow: hidden;

    &.over {
      span {
        display: block;
        animation: 10s infinite forwards longLabel ease-in-out;
      }

      @keyframes longLabel {
        0% {
          transform: translateX(-160%);
        }
        100% {
          transform: translateX(105%);
        }
      }
    }
  }

  .input__input {
    width: 100%;
    min-height: 3rem;
    background-color: $primary;
    border: none;
    outline: none;
    border-radius: $border-radius-sm;
    padding: 0.7rem;
    color: #fff;
    font-size: 1.4rem;

    &:focus {
      outline: 2px solid $primary-lighter;
    }
  }
}
