@use './colors' as *;

.navigator {
  width: 1180px;
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  margin-top: -0.5rem;
  border-radius: 10px;
  padding: 2.3rem 1.8rem;
  background: #0b1e39 0% 0% no-repeat padding-box;
  color: #fff;
  overflow: hidden;

  h2 {
    align-self: flex-start;
    font: normal normal bold 18px/21px Roboto;
  }

  .cards__navigator {
    max-width: 100%;
    height: fit-content;
    overflow: hidden;
    transition: all 0.1s ease;
  }

  .navigator__cards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.7rem;
    transition: all 0.1s ease;
  }

  .navigator__card {
    flex-grow: 0;
    flex-shrink: 0;
    width: 275px;
    height: 7.55rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid #244677;
    border-radius: 10px;
    padding: 5px;
    background: #244677 0% 0% no-repeat padding-box;
    transition: all 1s ease-in-out;
  }

  .navigator__card_image {
    width: 6.44rem;
    height: 6.44rem;
    border-radius: 10px;
  }

  .navigator__card_text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    padding: 1rem;
    padding-left: 0;

    .navigator__card_text_name {
      font: normal normal bold 14px/16px Roboto;
    }

    .navigator__card_text_date {
      font: normal normal normal 10px/11px Roboto;
      color: #d1d1d1;
    }

    .navigator__card_text_time {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font: normal normal normal 12px/14px Roboto;
      color: #d1d1d1;

      span:last-child {
        font: normal normal bold 10px/11px Roboto;
        color: #ffffff;
      }
    }
  }

  .navigator__buttons {
    width: fit-content;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    button {
      width: 10px;
      height: 10px;
      border: none;
      outline: none;
      border-radius: 50%;
      background: #244677 0% 0% no-repeat padding-box;
      cursor: pointer;
    }

    button.active {
      background: #1956e2;
    }
  }
}
