.traits {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 4.5rem 10rem;

  .table__container {
    overflow: hidden;
    overflow-x: auto;
  }

  .traits__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;

    h2 {
      font: normal normal bold 22px/25px Roboto;
    }

    p {
      font: normal normal normal 16px/19px Roboto;
      letter-spacing: 0px;
    }
  }

  .traist__sort_timer {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    svg {
      margin-left: 5rem;
    }
  }

  .traits__sort-details {
    width: 29rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;

    span {
      font: normal normal bold 12px/14px Roboto;
      white-space: pre;
    }
  }

  .traits__timers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12.7rem;
    margin-left: auto;
  }

  @media (max-width: 500px) {
    .traist__sort_timer {
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;

      svg {
        margin-left: 0;
      }
    }

    .traits__timers {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 2rem;
      margin-left: 0;
    }

    #filter {
      display: none;
    }
  }
}
