@use './colors' as *;

.table {
  width: 100%;
  color: #fff;
  border-radius: 10px;
  border-spacing: 0;
  margin-top: 0;
  padding: 3rem 1.7rem;
  background-color: $primary;
  font-size: 1.5rem;
  text-align: left;

  * {
    max-width: 100%;
    border-spacing: 0;
    border: 0;
    margin: 0;
  }

  svg {
    * {
      user-select: none;
      pointer-events: none;
    }
  }

  & td,
  & th {
    padding: 1rem;
    text-align: left;
  }

  .table__head__row {
    div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .table__body__row {
    background-color: $primary-dark;
    width: 100%;

    td:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    td:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  .table__space {
    height: 1rem;
  }

  .action-icon {
    cursor: pointer;
  }

  svg {
    user-select: none;
    pointer-events: none;
  }

  .active {
    svg {
      stroke: red;
    }
  }

  thead {
    font: normal normal bold 12px/14px Roboto;
  }

  .table__user-container {
    display: table-cell;
  }

  .table__details {
    max-height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    margin-right: auto;
    background-color: transparent;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      font-size: 1.5rem;

      span:first-child {
        color: #fff;
        font-size: 1.8rem;
        font-weight: bold;
      }
    }

    img {
      border: 1px solid #244677;
      border-radius: 10px;
      max-height: inherit;
    }
  }

  .table__changes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: $success;
    color: #fff;
    font: normal normal bold 18px/21px Roboto;

    span:last-child {
      display: flex;
      justify-content: center;
      align-items: center;
      font: normal normal normal 12px/14px Roboto;
    }

    .green {
      color: $success;
    }

    .red {
      color: $danger-color;
    }
  }

  .head_items {
    position: relative;

    svg {
      user-select: auto;
      pointer-events: all;

      &:hover {
        stroke: #1956e2;

        & + p {
          opacity: 1;
        }
      }
    }
  }

  .info__details {
    position: absolute;
    top: 100%;
    left: 25%;
    width: 25rem;
    max-width: unset;
    height: fit-content;
    border-radius: 10px;
    padding: 2rem;
    background-color: $primary;
    color: rgba(255, 255, 255, 0.534);
    user-select: none;
    pointer-events: none;
    z-index: 10;
    // transition: opacity 0.1s ease;
    opacity: 0;
  }

  .single {
    span {
      font: normal normal bold 1.9rem/21px Roboto !important;
    }
  }

  @media (max-width: 500px) {
    width: 500px;
    display: block;
  }
}
